<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>995944908140-e4mct1lhj42hos87sik7vekbp7v667tv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995944908140-e4mct1lhj42hos87sik7vekbp7v667tv</string>
	<key>API_KEY</key>
	<string>AIzaSyDGnK6ItbbUbjCn9790TKTF8rDjLoI-qNA</string>
	<key>GCM_SENDER_ID</key>
	<string>995944908140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gsm.TestLeoVegas</string>
	<key>PROJECT_ID</key>
	<string>testleovegas-48395</string>
	<key>STORAGE_BUCKET</key>
	<string>testleovegas-48395.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995944908140:ios:55625d5fdf670948af1f49</string>
	<key>DATABASE_URL</key>
	<string>https://testleovegas-48395.firebaseio.com</string>
</dict>
</plist>